* {
  color: yellow;
 font-size: 25px;
}

h1 {
  background-color: aqua;
  color: red;
  text-align: center;
}
.paragrf {
  text-align: center;
}
#paragrf2 {
  text-align: center;
}
[disabled] {
  text-align: center;
  color: red;
}
